@import '~jspsych/css/jspsych.css';

.jspsych-display-element {
  background-color: #ffffff;
}

.jspsych-content {
  width: 800px;
  max-width: 800px;
  padding: 10px;
  text-align: left;
}

.vviq-question {
  margin-bottom: 15px;
}

.vviq-scalelabel {
  margin-top: 10px;
}

.vviq-instruction-block {
  font-size: 20px;
  margin-bottom: 25px;
}
